/*
 * Color theme : Base16 Tomorrow
 * From : http://chriskempson.github.io/base16/css/base16-tomorrow.css
 */

$base16-00 : #1d1f21;
$base16-01 : #282a2e;
$base16-02 : #373b41;
$base16-03 : #969896;
$base16-04 : #b4b7b4;
$base16-05 : #c5c8c6;
$base16-06 : #e0e0e0;
$base16-07 : #ffffff;
$base16-08 : #cc6666;
$base16-09 : #de935f;
$base16-0A : #f0c674;
$base16-0B : #b5bd68;
$base16-0C : #8abeb7;
$base16-0D : #81a2be;
$base16-0E : #b294bb;
$base16-0F : #a3685a;
