---
---
@import "base16-tomorrow";

$enable-shadows:         true;
$link-hover-decoration:  none;

$navbar-brand-font-size:    2.3rem;
$border-width:              2px;
$border-radius:             15px;
$list-group-item-padding-x: 0;

$body-bg:           $base16-03;
$body-color:        $base16-04;
$primary:           $base16-0D;
$link-hover-color:  darken($primary, 20%);
$border-color:      darken($base16-03, 5%);
$card-bg:           darken($base16-02, 5%);
$list-group-bg:     darken($base16-02, 5%);
$code-color:        $base16-08;
$pre-color:         $base16-03;

@import "bootstrap/bootstrap";

@font-face {
    font-family: FontLogo;
    src: url(/fonts/Damion-Regular.ttf);
}

h2 {
    margin-top: ($spacer * 3);
}

h6 {
    font-weight: 100;
}

p + ul {
    margin-top: -1rem;
}

blockquote > ul + p {
    margin-top: -1rem;
}

blockquote p:last-child {
    margin-bottom: 0rem;
}

.navbar-brand.logo {
    font-family:  FontLogo;
    color:        $base16-0D;
    text-shadow:  0px 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar-brand.logo:hover {
    color: $link-hover-color;
}

.blockquote {
    font-family:      Georgia, serif;
    font-style:       italic;
    text-shadow:      0px 3px 3px rgba(0, 0, 0, 0.5);
    line-height:      1.5rem;
    padding:          1rem;
    background-color: $base16-00;
    text-align:       left;
}

$yoda-color: #007700;
.yoda {
    color:        $yoda-color;
    border-left:  0.2rem solid $yoda-color;
    position:     relative;
    padding-left: 4.5rem;

    background:          url('/images/yoda/yoda.png'),$base16-00;
    background-repeat:   no-repeat;
    background-size:     2.5rem auto;
    background-position: 1rem center;
}
