---
---
@import "base16-tomorrow";
// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";

body {
    background-image: url("/images/bg_header.jpg");
}

$bgColor:         $base16-01;
//$textColor:       darken( $bgColor, 35%);
$textColor:       darken( $base16-0D, 00%);
$textShadowColor: lighten($bgColor, 12%);

@font-face {
    font-family: FontLogo;
    src: url(/fonts/Damion-Regular.ttf);
}

.logo {
  font-size: 48px;
  font-family: FontLogo;
  color: $textColor;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
//  display: inline-block;
  font-weight: 900;
//  margin-bottom: 0.5em;
//  -webkit-transform: rotate(-5deg);

//  background-color: $base16-02;
//  border-radius: 5px;
//  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 10px 0px inset, rgba(255, 255, 255, 0.0980392) 0px 1px 0px 0px, rgba(0, 0, 0, 0.498039) 0px -1px 0px 0px;
}

@font-face {
    font-family: TitleFont1;
    src: url(/fonts/SpecialElite.ttf);
}
@font-face {
    font-family: TitleFont2;
    src: url(/fonts/CabinSketch-Bold.ttf);
}
@font-face {
    font-family: TitleFont3;
    src: url(/fonts/CabinSketch-Regular.ttf);
}
@font-face {
    font-family: TitleFont4;
    src: url(/fonts/Damion-Regular.ttf);
}
@font-face {
    font-family: TitleFont5;
    src: url(/fonts/DidactGothic.ttf);
}
@font-face {
    font-family: TitleFont6;
    src: url(/fonts/FrederickatheGreat-Regular.ttf);
}
@font-face {
    font-family: TitleFont7;
    src: url(/fonts/FredokaOne-Regular.ttf);
}
@font-face {
    font-family: TitleFont8;
    src: url(/fonts/Lato-BlackItalic.ttf);
}
@font-face {
    font-family: TitleFont9;
    src: url(/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: TitleFont10;
    src: url(/fonts/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: TitleFont11;
    src: url(/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: TitleFont12;
    src: url(/fonts/Lato-HairlineItalic.ttf);
}
@font-face {
    font-family: TitleFont13;
    src: url(/fonts/Lato-Hairline.ttf);
}
@font-face {
    font-family: TitleFont14;
    src: url(/fonts/Lato-Italic.ttf);
}
@font-face {
    font-family: TitleFont15;
    src: url(/fonts/Lato-LightItalic.ttf);
}
@font-face {
    font-family: TitleFont16;
    src: url(/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: TitleFont17;
    src: url(/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: TitleFont18;
    src: url(/fonts/Lobster.ttf);
}
@font-face {
    font-family: TitleFont19;
    src: url(/fonts/MeriendaOne-Regular.ttf);
}
@font-face {
    font-family: TitleFont20;
    src: url(/fonts/OleoScript-Bold.ttf);
}
@font-face {
    font-family: TitleFont21;
    src: url(/fonts/OleoScript-Regular.ttf);
}
@font-face {
    font-family: TitleFont22;
    src: url(/fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
    font-family: TitleFont23;
    src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: TitleFont24;
    src: url(/fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: TitleFont25;
    src: url(/fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
    font-family: TitleFont26;
    src: url(/fonts/OpenSans-Italic.ttf);
}
@font-face {
    font-family: TitleFont27;
    src: url(/fonts/OpenSans-LightItalic.ttf);
}
@font-face {
    font-family: TitleFont28;
    src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: TitleFont29;
    src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: TitleFont30;
    src: url(/fonts/OpenSans-SemiboldItalic.ttf);
}
@font-face {
    font-family: TitleFont31;
    src: url(/fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: TitleFont32;
    src: url(/fonts/Pacifico.ttf);
}
@font-face {
    font-family: TitleFont33;
    src: url(/fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: TitleFont34;
    src: url(/fonts/Rancho-Regular.ttf);
}
@font-face {
    font-family: TitleFont35;
    src: url(/fonts/ShadowsIntoLight.ttf);
}
@font-face {
    font-family: TitleFont36;
    src: url(/fonts/SourceSansPro-BlackItalic.ttf);
}
@font-face {
    font-family: TitleFont37;
    src: url(/fonts/SourceSansPro-Black.ttf);
}
@font-face {
    font-family: TitleFont38;
    src: url(/fonts/SourceSansPro-BoldItalic.ttf);
}
@font-face {
    font-family: TitleFont39;
    src: url(/fonts/SourceSansPro-Bold.ttf);
}
@font-face {
    font-family: TitleFont40;
    src: url(/fonts/SourceSansPro-ExtraLightItalic.ttf);
}
@font-face {
    font-family: TitleFont41;
    src: url(/fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
    font-family: TitleFont42;
    src: url(/fonts/SourceSansPro-Italic.ttf);
}
@font-face {
    font-family: TitleFont43;
    src: url(/fonts/SourceSansPro-LightItalic.ttf);
}
@font-face {
    font-family: TitleFont44;
    src: url(/fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: TitleFont45;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: TitleFont46;
    src: url(/fonts/SourceSansPro-SemiboldItalic.ttf);
}
@font-face {
    font-family: TitleFont47;
    src: url(/fonts/SourceSansPro-Semibold.ttf);
}
@font-face {
    font-family: TitleFont48;
    src: url(/fonts/SpecialElite.ttf);
}
@font-face {
    font-family: TitleFont49;
    src: url(/fonts/VT323-Regular.ttf);
}
@font-face {
    font-family: TitleFont50;
    src: url(/fonts/WaitingfortheSunrise.ttf);
}


.font1 {
  font-family: TitleFont1;
}

.font2 {
  font-family: TitleFont2;
}

.font3 {
  font-family: TitleFont3;
}

.font4 {
  font-family: TitleFont4;
}

.font5 {
  font-family: TitleFont5;
}

.font6 {
  font-family: TitleFont6;
}

.font7 {
  font-family: TitleFont7;
}

.font8 {
  font-family: TitleFont8;
}

.font9 {
  font-family: TitleFont9;
}

.font10 {
  font-family: TitleFont10;
}

.font11 {
  font-family: TitleFont11;
}

.font12 {
  font-family: TitleFont12;
}

.font13 {
  font-family: TitleFont13;
}

.font14 {
  font-family: TitleFont14;
}

.font15 {
  font-family: TitleFont15;
}

.font16 {
  font-family: TitleFont16;
}

.font17 {
  font-family: TitleFont17;
}

.font18 {
  font-family: TitleFont18;
}

.font19 {
  font-family: TitleFont19;
}

.font20 {
  font-family: TitleFont20;
}

.font21 {
  font-family: TitleFont21;
}

.font22 {
  font-family: TitleFont22;
}

.font23 {
  font-family: TitleFont23;
}

.font24 {
  font-family: TitleFont24;
}

.font25 {
  font-family: TitleFont25;
}

.font26 {
  font-family: TitleFont26;
}

.font27 {
  font-family: TitleFont27;
}

.font28 {
  font-family: TitleFont28;
}

.font29 {
  font-family: TitleFont29;
}

.font30 {
  font-family: TitleFont30;
}

.font31 {
  font-family: TitleFont31;
}

.font32 {
  font-family: TitleFont32;
}

.font33 {
  font-family: TitleFont33;
}

.font34 {
  font-family: TitleFont34;
}

.font35 {
  font-family: TitleFont35;
}

.font36 {
  font-family: TitleFont36;
}

.font37 {
  font-family: TitleFont37;
}

.font38 {
  font-family: TitleFont38;
}

.font39 {
  font-family: TitleFont39;
}

.font40 {
  font-family: TitleFont40;
}

.font41 {
  font-family: TitleFont41;
}

.font42 {
  font-family: TitleFont42;
}

.font43 {
  font-family: TitleFont43;
}

.font44 {
  font-family: TitleFont44;
}

.font45 {
  font-family: TitleFont45;
}

.font46 {
  font-family: TitleFont46;
}

.font47 {
  font-family: TitleFont47;
}

.font48 {
  font-family: TitleFont48;
}

.font49 {
  font-family: TitleFont49;
}

.font50 {
  font-family: TitleFont50;
}
