<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS (Also contains boostrap) -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- FontAwesome glyph icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% if page.title %}
        <title>{{ page.title }}&nbsp;|&nbsp;{{ site.name }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
                        <a href="/" class="navbar-brand logo"><img width="50" height="50" class="shadow-lg rounded-circle border d-inline-block align-top" src="/images/jaydee_logo.jpg" alt="JayDee I/O"> {{ site.name }}</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="/general">General</a></li>
                                <li class="nav-item"><a class="nav-link" href="/cppdevac">C++DevAc</a></li>
                                <li class="nav-item"><a class="nav-link" href="/liens">Liens</a></li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="https://github.com/jaydee-io"><i class="fab fa-github"></i> jaydee-io</a></li>
                                <li class="nav-item"><a class="nav-link" href="https://twitter.com/jerome_jaydee"><i class="fab fa-twitter"></i> jerome_jaydee</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col card">
                    <div class="card-body">
                        {{ content }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col mt-2 text-center">
                    <p>Build with <a href="http://getbootstrap.com">bootstrap</a>, powered by <a href="http://jekyllrb.com">Jekyll </a>and hosted on <a href="https://pages.github.com">GitHub Pages.</a></p>
                    <p><i class="far fa-copyright"></i>2018 <a href="mailto:jerome.dumesnil@gmail.com">Jérôme DUMESNIL</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
